<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.tff</string>
		<string>Nunito-BlackItalic.tff</string>
		<string>Nunito-Bold.tff</string>
		<string>Nunito-BoldItalic.tff</string>
		<string>Nunito-ExtraBold.tff</string>
		<string>Nunito-ExtraBoldItalic.tff</string>
		<string>Nunito-ExtraLight.tff</string>
		<string>Nunito-ExtraLightItalic.tff</string>
		<string>Nunito-Italic.tff</string>
		<string>Nunito-Light.tff</string>
		<string>Nunito-LightItalic.tff</string>
		<string>Nunito-Medium.tff</string>
		<string>Nunito-MediumItalic.tff</string>
		<string>Nunito-Regular.tff</string>
		<string>Nunito-SemiBold.tff</string>
		<string>Nunito-SemiBoldItalic.tff</string>
	</array>
</dict>
</plist>
